{% extends 'base.html.twig' %}

{% block title %}Hello MemberDashboardController!{% endblock %}

{% block body %}
<div class="container">
 
  <div class="bg-light p-5 rounded">
    <h1>Welcome member, you are in Member Dashboard</h1>
    <p class="lead">This is a skeleton project showcasing new Authenticator based security.</p>
    <p class="lead">Since support for Gaurd based authentication is deprecated since version 5.3 it is advised to move towards the new authenticator based security</p>
    <a class="btn btn-lg btn-primary" href="https://symfony.com/doc/current/security/authenticator_manager.html" role="button">Check official docs &raquo;</a>
  </div>
</div>
{% endblock %}
